
<div class="div__information--contform">
    <div>
        <span>Please provide us with your personal information to send you the item</span>
    <div class="div__information--inputs-select">
        <div class="div__information-input-date">
            <app-input class="input__option" message="Date of Birth"></app-input>
                <div class="label__date-ej">
                    <div>
                        <label>MM/DD/YY</label>
                    </div>
                </div>
        </div>
        <app-select [genders]="genders"></app-select>
        <app-input message="ID Number"></app-input>
    </div>
    </div>
</div>
    