
<div class="div__fathercont">
    <div>
    <app-icon-title></app-icon-title>
    <div class="div__fathercont--flex">
        <app-stepper></app-stepper>
        <div class="div__fathercont--col">
            <app-form></app-form>
                <div class="div__contfather--btn">
                    <div class="div_contson--btn">
                        <button class="button__next" mat-raised-button color="#006a61">Next</button>
                    </div>
                </div>
            </div>
        </div>
    
</div>


